

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family:courier New; color:red">ScamFilter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--

    -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/post/list" style = "font-family: 'Courier New', Courier, monospace;"><b>Posts</b></a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href="/scammer/all" style = "font-family: 'Courier New', Courier, monospace;"><b>Scam Reveals</b></a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href="/sendMsg" style = "font-family: 'Courier New', Courier, monospace;"><b>Send Message!</b></a>
        </li>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}" style = "color: rgb(42, 173, 42); font-family: 'Courier New', Courier, monospace;">
              <strong>
                Login
              </strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('aboutus') }}" style = "font-family: 'Courier New', Courier, monospace;">
              <strong>
                About Me
              </strong>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">{{ current_user.username }}</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>