<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body style="background-color:aliceblue;"></body>
<center>
<h1 style="color:black; font-family: 'Courier New', Courier, monospace;">About Me</h1>
<img src="https://media-exp1.licdn.com/dms/image/C5603AQEt9N3Cwwql_Q/profile-displayphoto-shrink_400_400/0/1624946676228?e=1653523200&v=beta&t=sMmEfOXSu6d8_Kg5AHdRe9Qm6iR9oovrj0vLWjsY-2w">
<h3 style="color:black; font-family: 'Courier New', Courier, monospace;">Hello! My name is Ibraheem Saied. I am a student at Oakland Technical Highschool. One of THE MOST important things to me is my privacy whether it is on the phone or in the real world. I tend to be very careful of the people who call me, text me, or even the links I click. I do not want to be unaware of the people who can easily hack our phones. I look at myself as a person who prepares for the worst and that is why I created this app. I heavily sympathize with those who loose money and valuable things to them because they have fallen for scam calls and texts. I know this app won't protect you from the ads that may pop up while you are browsing the web internet, but it will definitely help you, at lease, control the messages and calls you get from your phone.</h3>
</center>

{% endblock %}