{% extends 'base.html' %}

{% block body %}
<div class = "col-2">
<button href = "/messages">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXwMSPgThkpsK9HOBxSvHz1YwfP15Yfz2WZw&usqp=CAU">
    <h3>Messages</h3>
</button>
</div>

<div class = "text-right">
<button href = "voicemail.html">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX4hhfd4txJ4qmti4-su22SBIEk1F_BTRLsw&usqp=CAU">
    <h3>Voicemail</h3>
</button>
</div>

<div class = "">
<button href = "calls.html">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJJ3X7U_0feiWjapq-HNshikTyCiANEKt29g&usqp=CAU">
    <h3>Calls</h3>
</button>
</div>

{% endblock %}