{% extends "base.html" %}

{% block body %}
<style>
body {
background-image: linear-gradient(#FFFFFF, rgb(89, 205, 255));
}



</style>
<!--.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  -->
<center>
    <div class="container">

        <h1>Login</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
</center>
        <form method=post>
            {{ form.hidden_tag() }}
            <!--<table class="table">-->
            <tr><th><p style = "position: relative; left:460px; top:30px"</p>Username</p></th><br><center><th>{{form.username}}</th></tr><br></center>
            <tr><th><p style = "position: relative; left:460px; top:30px">Password</p></th><br><center><th>{{form.password}}</th></tr><br></center>
            <p style = "position: relative; left:460px; top:30px">
                <a href="{{ url_for('reset_password_request') }}" style = "color:gray">Forgot Your Password?</a>
            </p>
            <p style="line-height: 2;"></p>
            <tr><th><p style = "position: relative; left:460px; top:30px">Remember Me? </p></th><th><p style = "position: relative; left:580px; top:-8px">{{form.remember_me}}</p></th></tr><br><p style="line-height: 2;"></p>
            <tr><td colspan="2"><p style = "position: relative; left:460px; top:-50px">{{form.submit()}}</p></td></tr><br>

             
        <!--</table>-->
        </form>

        <center><p style="position: relative; top:-80px">New User? <br> 
            <button type="button" class="btn btn-success" >
                <a href = '{{ url_for("register")}}' style = "color:white">Click to Register!</a></button></center></p>


        
    </div>


{% endblock %}
