{% extends 'base.html' %}

{% block body %}
<h1 class="display-1">
    My Profile
    <a href="/myprofile/edit">
        <img width="40" src="/static/edit.png">
    </a>
</h1>


<!--<div class="row">-->
    <div class="col-3">
        {% if current_user.image %}
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
        {% else %}
            <img class="img-thumbnail" width = "100" src="/static/bdog.jpg">
        {% endif %} 
    </div>
    <!--<div class="col display-5">-->
    <div class="display-6">
    <!--Real Name-->
        {% if current_user.fname and current_user.lname %}
            {{current_user.fname}}  {{current_user.lname}} <br>
        {% endif %}
    </div>
    <div class="display-7">
        <!--Username-->
         {{current_user.username}} <br>
    </div>
    <div class="display-8">
        <!--Email and phonenumber-->
        {{current_user.email}} · {{current_user.phoneNumber}}<br>
        <!--Role-->
        {{current_user.role}} <br>
        
    </div>
   <!--</div>-->
<!--</div>
<br>-->



{% endblock %}